<div style="background-color: #FED8B1; color: #551A8B;">  
  
<span style='font-family:verdana;'>
    
## Elementos de Pandas y de Numpy que se usan habitualmente    


</span>

</div>

https://pandas.pydata.org/

https://pandas.pydata.org/docs/reference/index.html
    
https://numpy.org/
    
https://numpy.org/doc/stable/reference/index.html

In [1]:
import pandas as pd

In [2]:
import numpy as np

<div style="background-color: #FED8B1; color: #551A8B;">  
  
<span style='font-family:verdana;'>
    
## SERIE

Arrays unidimensionales con índice

In [3]:
numeros = pd.Series(['cero', 'uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 
                         'siete', 'ocho', 'nueve'])
numeros

0      cero
1       uno
2       dos
3      tres
4    cuatro
5     cinco
6      seis
7     siete
8      ocho
9     nueve
dtype: object

***Se pueden generar Series a partir de Diccionarios:***

In [4]:
dict_numeros = {0: 'cero', 1: 'uno', 2: 'dos', 3: 'tres', 4: 'cuatro', 5: 'cinco', 6: 'seis', 
                        7: 'siete', 8: 'ocho', 9: 'nueve'
               }

dict_numeros_to_series = pd.Series(dict_numeros)

dict_numeros_to_series

0      cero
1       uno
2       dos
3      tres
4    cuatro
5     cinco
6      seis
7     siete
8      ocho
9     nueve
dtype: object

***Series temporales son las que tienen como índice un instante temporal (timestamp)***

In [3]:
time_serie = pd.Series([1, 2, 3, 4, 5], 
                       index=pd.DatetimeIndex(['2023-01-01', \
                            '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']))
time_serie

2023-01-01    1
2023-01-02    2
2023-01-03    3
2023-01-04    4
2023-01-05    5
dtype: int64

<div style="background-color: #FED8B1; color: #551A8B;"> 
  
<span style='font-family:verdana;'>
    
## DATAFRAME

Es una estructura de datos similar a una tabla de una base de datos relacionar.

Se puede crear a partir de  una lista, de un diccionario, de una Serie, de otro DataFrame, leyendo una tabla excel, de ficheros csv, json, xml, etc, y desde una url.

***Creación desde un diccionario:***

In [6]:
df_elementos = pd.DataFrame(
    {
        'nombre': ['oxigeno', 'hierro', 'boro', 'cloro'],
        'simbolo':['O', 'Fe', 'B', 'Cl'],
        'num_atomico': [8, 26, 5, 17],
        'tipo': ['NoMetal', 'Metal', 'Metaloide', 'Halogeno']
    }, 
    index=['a', 'b','c','d'], 
    columns=['nombre', 'simbolo','num_atomico', 'tipo'] 
)
df_elementos

    nombre simbolo  num_atomico       tipo
a  oxigeno       O            8    NoMetal
b   hierro      Fe           26      Metal
c     boro       B            5  Metaloide
d    cloro      Cl           17   Halogeno

***Lectura desde fichero*** (lo más habitual, desde csv)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

pd.read_csv('nombre_del_archivo', sep=',', header=0)

Muy importante el encoding!!

pd.read_csv(“ruta y nombre del archivo”)

Desde una url sería por ejemplo:

pd.read_csv('https://www.xxxxxx/yyyy.csv', header=0)

***Para salvar el dataframe en un fichero:***

df.to_csv('./carpeta1/carpetan/ejemplo_export_DataFrame_csv.csv')

***Analogamente a to_excel, to_json...***

<div style="background-color: #FED8B1; color: #551A8B;"> 
  
<span style='font-family:verdana;'>
    
## Métodos usados habitualmente

df.index-->Devuelve el rango de valores de los índices del DataFrame

df.columns-->Devuelve el nombre de las columnas del DataFrame

df.values-->Devuelve un numpy array con los valores del DataFrame

df.shape-->Devuelve una tupla con las dimensiones del DataFrame (Nº Filas, Nº Columnas)

len(df)-->Devuelve el número de filas que tiene el DataFrame

df.types-->Devuelve el tipo de dato de cada una de las columnas

df.head(n)-->Devuelve un DataFrame con los 'n' primeros elementos

df.tail(n)-->Devuelve un DataFrame con los 'n' últimos elementos

df.sample(n)-->Devuelve un DataFrame con 'n' filas seleccionadas al azar

df['nombre_columna'].unique()-->Devuelve los valores únicos de la columna del DataFrame

df.rename(columns={old_name: new_name})-->Cambia el nombre de las columnas, indicando en un diccionario el nombre antiguo como clave y el nombre nuevo de la columna como valor

df.drop(columns='[col_1', ..., 'col_n'])-->Elimina las columnas que se pasan como parámetro en una lista 

df.reindex(new_index)--> Reasigna los indices que se pasan en una lista como parámetro 

df.drop(index)--> Elimina las filas con los indices que se pasan en una lista como parámetro 

df.rename(index={old_index: new_index})-->Reasigna los índices del DataFrame indicando en un diccionario que se le pasa como parámetros el indice a sustituir y el valor del nuevo indice 

df.sort_index(ascending=True/False)--> Ordena los índices del DataFrame de manera ascendente o descendente 

df.reset_index()--> Reasigna de nuevo los índices al DataFrame 

df.sort_values(col_name, ascending=True/False)-->Ordena de manera ascendente o descendente los valores de la columna indicada 

df.duplicated()-->Devuelve un valor Booleano indicando aquellas columnas cuyo contenido esta o no repetido 

df.index.duplicated()--> Devuelve un valor Booleano indicando aquellas columnas con índices repetidos 

df.drop_duplicates(keep='first'/'last')--> Elimina las columnas del DataFrame que estén duplicadas excepto la primera o la última, indicando esto con el parámetro 'keep' 

df.dropna()--> Elimina del DataFrame todas aquellas columnas que tengan valores nulos 

df.fillna(df.xxx())--> Sustituye para las columnas de tipo numérico todos aquellos valores nulos por otro valor relativo a la columnas como puede ser su media, mediana, moda, etc, indicando esa función como parámetro 

df.replace('a', 'b')-->Sustituye en el DataFrame todas aquellas ocurrencias 'a' por otro valor 'b'

     count--> Número de observaciones no nulas
     sum--> Suma de los valores
     mean--> Media de los valores
     mad--> Desviación Media Absoluta de los valores
     median--> Mediana de los valores
     min--> Valor mínimo
     max--> Valor máximo
     first--> Primer valor encontrado en la agrupación
     last--> Último elemento encontrado en la agrupación
     mode--> Moda
     product--> Producto de los valores
     std--> Desviación Estandar
     var--> Varianza
     sem--> Error estandar
     skew--> Asimetria de los valores
     kurt--> La Curtosis
     quantile--> Cuantil
     value_counts--> Número de valores únicos

***Importante***

df.info()

df.describe()

<div style="background-color: #FED8B1; color: #551A8B;"> 
  
<span style='font-family:verdana;'>
    
## Condiciones

df[df.nombreColumna == "aaa"]

df[df['nombreColumna == 'aaa']

df[(df.nomColumn1 == "aaa") &
            (df.nomColumn2 == "bbb") &
            (df.nomColumn3 > 7)]

<div style="background-color: #FED8B1; color: #551A8B;"> 
  
<span style='font-family:verdana;'>
    
## Lambda

df['nombre_nueva_columna'] = df.apply(lambda row: row.nombre_columna_origen, axis=1)

Ex: de Celsius a Fahrenheit

df['temp_faren'] = df.apply(lambda row: (row.temp_celsius * 9 / 5) + 32, axis=1)

Con condiciones:

df['nombre_nueva_columna'] = df['nombre_columna_origen'].apply(lambda x: 'a' if x==1 else 'b')

df['nombre_nueva_columna'] = df.apply(lambda row: 'a' if row.nombre_columna_origen==1 else 'b', axis=1)

<div style="background-color: #FED8B1; color: #551A8B;"> 
  
<span style='font-family:verdana;'>
    
## Agregaciones

df.groupby(['nombreColumna']).agg(['count'])

df.groupby(['nombreColumna'])['nombreColumna'].agg(['count'])

df.groupby(['nombreColumna1', 'nombreColumna2'])['nombreColumna3'] \
           .agg(['count']) \
           .reset_index()

df.groupby(['nombreColumna1'])['nombreColumna2'] \
           .agg(['count', 'sum', 'mean', 'median', 'max', \
              'min', 'std', 'var', 'first', 'last']) \
                .reset_index()

df.groupby(['nombreColumna1', 'nombreColumna2'])['nombreColumna3'] \
           .agg(['count', 'sum', 'mean', 'median']) \
           .reset_index()

<div style="background-color: #FED8B1; color: #551A8B;"> 
  
<span style='font-family:verdana;'>
    
## Orden

df.sort_values(by='nomColumna', ascending=False)

<div style="background-color: #FED8B1; color: #551A8B;"> 
  
<span style='font-family:verdana;'>
    
## JOINS

pd.merge(left_data_frame, right_data_frame, how='tipo_de_join', left_on='id_left', right_on='id_right')

df_x = pd.DataFrame({'id_x': ['a', 'b'], 'long': ['aaaa', 'bbb']})
df_y = pd.DataFrame({'id_y': ['b', 'c'], 'sort': ['bb', 'cc']})

***INNER JOIN*** selecciona todas las filas de los dos DataFrames siempre y cuando haya una coincidencia entre las columnas en ambos DataFrames.
 
df = pd.merge(df_pasajeros, df_supervivientes, on='PassengerId', how='inner')


***LEFT JOIN*** mantiene todas las filas del DataFrame de la izquierda (left). Las filas del DataFrame de la derecha (right) se mostrarán si hay una coincidencia con los de la izquierda. 

Si existen valores en el DataFrame de la izquierda pero no en el de la derecha, éste mostrará NaN.

df_left = pd.merge(df_x, df_y, how='left', left_on='id_x', right_on='id_y')


***RIGHT JOIN*** mantiene todas las filas del DataFrame de la derecha(right). Las filas del DataFrame de la Izquierda (left) se mostrarán si hay una coincidencia con las de la derecha. 

Si existen valores en el DataFrame de la derecha pero no en el de la izquierda, éste mostrará NaN


***OUTER JOIN*** o (FULL OUTER JOIN) devuelve todas las filas del DataFrame de la izquierda (left) y del de la derecha (right). 

Aparecerá NaN  en cada uno de los DataFrames alternativamente cuando no haya una coincidencia.



***UNION*** (o Concat en Pandas) permite unir dos o más DataFrames (de forma vertical).
pd.concat([df_1, df_2,...,df_n], sort=Boolean)

<div style="background-color: #FED8B1; color: #551A8B;"> 
  
<span style='font-family:verdana;'>
    
## Pivot Table

Esta operación permite poner ciertas columnas en filas y ciertas filas en columnas.

df.pivot(index='nombre_columna_a_fila', columns='nombre_columna_a_columna', values='nombre_columna_a_valores')

En esencia es una operación que permite crear una 'matriz de valores' a partir de una 'tabla'.