<div style="background-color: #E3F9A6; color: #551A8B;">  
  
<span style='font-family:verdana;'>
    
## Elementos de Python básicos y formas de programar a tener en cuenta     

   
1. [Listas](#M1)    
    
2. [Tuplas](#M2)    
    
3. [Set](#M3)    
    
4. [Dictionary](#M4)
    
5. [Loops](#M5)    
    
6. [Range](#M6)    

7. [Zip](#M7)    
    
8. [Functions](#M8)    
    
9. [Lambda](#M9)    
    
10. [Enum](#M10) 
    
11. [Regex](#M11)    
    
12. [Otros](#M12)    
    
</span>

</div>

<div style="background-color: #E3F9A6; color: #551A8B;">  
  
<span style='font-family:verdana;'>
    
## <a name="M1">LISTAS</a>

In [9]:
ejemplo_lista = ['hola', 33, [3.7, True]]

In [33]:
meses = ['enero','febrero','marzo','abril','mayo','junio','julio',\
         'agosto','septiembre','octubre', \
           'noviembre', 'diciembre']
meses[0]

'enero'

In [17]:
meses[-1]

'diciembre'

In [19]:
tercer_trimestre = meses[6:9]
tercer_trimestre

['julio', 'agosto', 'septiembre']

In [20]:
saludo = "Hola, qué tal?"
numeros = ['uno','dos','tres','cuatro']

saludo[6:9], numeros[1:2]

('qué', ['dos'])

In [21]:
'palabraaa' in meses

False

In [22]:
'julio' in meses

True

LAS LISTAS SON MUTABLES (si cambio en uno, cambio en todos)

In [23]:
lista1 = ['a','b','c']
lista2 = lista1
lista1[1] = 'B'
lista2

['a', 'B', 'c']

Al contrario que por ejemplo los strings:

In [24]:
a = 'a'
a1 = 'a'
a2 = a1
a1 = 'A'
a2

'a'

In [25]:
lista_numero = [1,34,35,78,2]
max(lista_numero)

78

In [26]:
lista_letras = ['hola','esto','ultimo','posterior']
max(lista_letras)

'ultimo'

In [28]:
sorted(lista_numero)

[1, 2, 34, 35, 78]

In [29]:
sorted(lista_letras, reverse = True)

['ultimo', 'posterior', 'hola', 'esto']

In [34]:
meses.append('otro mes nuevo')
meses

['enero',
 'febrero',
 'marzo',
 'abril',
 'mayo',
 'junio',
 'julio',
 'agosto',
 'septiembre',
 'octubre',
 'noviembre',
 'diciembre',
 'otro mes nuevo']

In [36]:
"/n".join(meses)

'enero/nfebrero/nmarzo/nabril/nmayo/njunio/njulio/nagosto/nseptiembre/noctubre/nnoviembre/ndiciembre/notro mes nuevo'

<div style="background-color: #E3F9A6; color: #551A8B;">  
  
<span style='font-family:verdana;'>

## <a name="M2">TUPLAS</a>

TUPLAS Son NO mutables

In [1]:
coordenadas = (14.234, 338,388)
"la latitud es: {}".format(coordenadas[0])

'la latitud es: 14.234'

<div style="background-color: #E3F9A6; color: #551A8B;">  
  
<span style='font-family:verdana;'>

## <a name="M3">SET</a>

Mutable, sin ordenar y UNICOS (quita duplicados)

In [2]:
paises = ['espa','usa','cana','cana']
paises_set= set(paises)
paises_set

{'cana', 'espa', 'usa'}

In [40]:
paises_set.add('fra')
paises_set

{'cana', 'espa', 'fra', 'usa'}

<div style="background-color: #E3F9A6; color: #551A8B;">  
  
<span style='font-family:verdana;'>

## <a name="M4">DICTIONARY</a>

Mutable, almacena mapeos de claves únicas a valor

In [41]:
elementos = {'hidrogeno': 1, 'carbon': 6}
elementos['carbon']

6

In [42]:
elementos['helio'] = 2
elementos

{'hidrogeno': 1, 'carbon': 6, 'helio': 2}

In [43]:
'oxigeno' in elementos

False

In [45]:
elementos.get('oxigeno')

In [46]:
elementos.get('hidrogeno')

1

In [47]:
eles = {'hidrogeno': {'numero': 1,
                      'peso': 1.00794,
                      'simbolo': 'H'},
        'helio': {'numero': 2,
                  'peso': 4.002602,
                  'simbolo': 'He'}}


eles['helio']

{'numero': 2, 'peso': 4.002602, 'simbolo': 'He'}

In [48]:
eles.get('hidrogeno')

{'numero': 1, 'peso': 1.00794, 'simbolo': 'H'}

In [49]:
eles['helio']['peso']

4.002602

<div style="background-color: #E3F9A6; color: #551A8B;">  
  
<span style='font-family:verdana;'>

## <a name="M5">LOOPS</a>

In [1]:
ciudades = ['toledo', 'alicante', 'lugo', 'huelva']
for ciudad in ciudades:
  print(ciudad.title())

Toledo
Alicante
Lugo
Huelva

In [2]:
ciudades_mayusculas = []
for ciudad in ciudades:
  ciudades_mayusculas.append(ciudad.upper())
ciudades_mayusculas

['TOLEDO', 'ALICANTE', 'LUGO', 'HUELVA']

In [3]:
cartas_baraja = [1,10,8,12,11,2,6,5,7,4,3,9]
mi_partida = []
while sum(mi_partida) <= 21:
        mi_partida.append(cartas_baraja.pop())
print(mi_partida)

[9, 3, 4, 7]

(pop empieza en orden por el final...)

In [10]:
albaran = [("platanos", 15), ("manzanas", 20), ("peras", 30), ("limones", 10)]
articulos = []
precio = 0
for carga in albaran:
   if precio >= 100:
       break
   else:
       articulos.append(carga[0])
       precio += carga[1]

articulos

['platanos', 'manzanas', 'peras', 'limones']

In [11]:
precio

75

FOR EN UN PASO LIST COMPREHENSIONS

In [12]:
ciudades = ['madrid', 'nueva york', 'alicante']
ciudades_mayusculas = [ciudad.title() for ciudad in ciudades]
ciudades_mayusculas

['Madrid', 'Nueva York', 'Alicante']

In [78]:
cuadrados = []
for x in range(9):
 cuadrados.append(x**2)

cuadrados

[0, 1, 4, 9, 16, 25, 36, 49, 64]

Haciendo de esta forma sería:

In [79]:
loscuadrados = [x**2 for x in range(9)]
loscuadrados

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [80]:
loscuadrados_pares = [x**2 for x in range(9) if x % 2 == 0]
loscuadrados_pares

[0, 4, 16, 36, 64]

In [13]:
loscuadrados_pares_noimpares = [x**2 if x % 2 == 0 else "no es par" for x in range(9)]
loscuadrados_pares_noimpares

[0, 'no es par', 4, 'no es par', 16, 'no es par', 36, 'no es par', 64]

<div style="background-color: #E3F9A6; color: #551A8B;">  
  
<span style='font-family:verdana;'>

## <a name="M6">RANGE</a>

Range(start, stop, step)

In [59]:
print(list(range(4)))

[0, 1, 2, 3]

In [60]:
print(list(range(10, 20, 2)))

[10, 12, 14, 16, 18]

In [61]:
print(list(range(3,8)))

[3, 4, 5, 6, 7]

In [62]:
range(4)

range(0, 4)

range(0, 4) solo saca el obj

para verlo, o lo iteramos o lo pasamos a lista

In [64]:
for numero in range(4):
  print(numero)

0
1
2
3

In [122]:
for numeroI in range(10,15):
    print(numeroI)

10
11
12
13
14

In [65]:
ciudades = ['madrid', 'barcelona', 'valencia', 'bilbao']
for indice in range(len(ciudades)):
  ciudades[indice] = ciudades[indice].title()
ciudades

['Madrid', 'Barcelona', 'Valencia', 'Bilbao']

In [67]:
for i in range(3):
  print("hola")

hola
hola
hola

<div style="background-color: #E3F9A6; color: #551A8B;">  
  
<span style='font-family:verdana;'>

## <a name="M7">ZIP</a>

ZIP devuelve un iterator que combina múltiples iterables en una sentencia de tuplas.

In [71]:
articulos = ['platano', 'manzana', 'peras']
pesos = [19, 34, 10]
print(list(zip(articulos, pesos)))

[('platano', 19), ('manzana', 34), ('peras', 10)]

In [72]:
mi_conjunto = list(zip(articulos, pesos))
suelto_articulos, suelto_pesos = zip(*mi_conjunto)
suelto_articulos

('platano', 'manzana', 'peras')

In [73]:
suelto_pesos

(19, 34, 10)

In [74]:
articulos = ['platano', 'manzana', 'peras']
for i, articulos in zip(range(len(articulos)), articulos):
  print(i, articulos)

0 platano
1 manzana
2 peras

<div style="background-color: #E3F9A6; color: #551A8B;">  
  
<span style='font-family:verdana;'>

## <a name="M8">FUNCTIONS</a>

In [116]:
def masUnoExcep(a):
    try:
        b = a + 1
        print(b)
        return b
    except:
        print('Debe ser valor numerico')
        return None

In [117]:
masUnoExcep('qwerqer')

Debe ser valor numerico

In [118]:
masUnoExcep(3)

4

4

In [82]:
def volumen_cilindro(altura, radio):
  pi = 3.14159
  return altura * pi * radio ** 2

volumen_cilindro(10, 3)

282.7431

In [88]:
def escribe_algo():
  print("ni return ni parametros")

escribe_algo()

ni return ni parametros

In [89]:
def rectangulo(base, altura = 2):
  area = base * altura
  return area

rectangulo(3)

6

In [90]:
rectangulo(3,1)

3

In [92]:
def fun_con_comentario(a,b):
  """aqui escribo el comentario
  todo lo largo que sea"""
  return a/b

fun_con_comentario(2,2)

1.0

<div style="background-color: #E3F9A6; color: #551A8B;">  
  
<span style='font-family:verdana;'>

## <a name="M9">LAMBDA</a>

funciones anónimas, sin nombre

In [93]:
def doble(x):
  return x * 2

En lambda es:

In [94]:
doble_lambda = lambda x: x * 2
doble_lambda(7)

14

In [95]:
mas_lambda = lambda x,y,z: x * y * z

<div style="background-color: #E3F9A6; color: #551A8B;">  
  
<span style='font-family:verdana;'>

## <a name="M10">ENUM</a>

In [114]:
colores = ['rojo','verde','azul']

for i, colores in enumerate(colores):
    print(i,colores)

0 rojo
1 verde
2 azul

In [76]:
articulos = ['platano', 'manzana', 'peras']
for i, item in enumerate(articulos):
  print(i, item)

0 platano
1 manzana
2 peras

<div style="background-color: #E3F9A6; color: #551A8B;">  
  
<span style='font-family:verdana;'>

## <a name="M11">REGEX</a>

https://es.wikipedia.org/wiki/Expresi%C3%B3n_regular
    
https://regex101.com/

Ejemplo: Numbers [0-9]+ or \d+

If the input is "abc123xyz", it matches substring "123".

If the input is "abcxyz", it matches nothing.

If the input is "abc00123xyz456_0", it matches substrings "00123", "456" and "0" (three matches).

Take note that this regex matches number with leading zeros, such as "000", "0123" and "0001", which may not be desirable.

<div style="background-color: #E3F9A6; color: #551A8B;">  
  
<span style='font-family:verdana;'>

## <a name="M12">OTROS</a>

^  --> caret --> bitwise XOR
%  --> módulo
// --> integer división
** --> exponente

type(lo_que_sea)

In [10]:
str(3)

'3'

In [13]:
'uno, uno, dos'.count('uno')

2

In [50]:
phone = 3
banco = 100
print(phone, banco)

3 100

In [51]:
if phone < 5:
  phone += 10
  banco -= 10

print (phone, banco)

13 90

In [52]:
n = 1
if n % 2 == 0:
  print(str(n) + " es impar")
else:
  print(str(n) + " es impar")

1 es impar

In [53]:
estacion = "primavera"
if estacion == "primavera":
  "tiempo bueno"
elif estacion == "verano":
  "a la playa"
elif estacion == "otono":
  "a estudiar"
else:
  "Navidad"

In [86]:
salida = print("Escribe lo que sea")

Escribe lo que sea

In [87]:
print("print no devuelve nada, mira!!: ", salida)

print no devuelve nada, mira!!:  None

In [96]:
name = input('Escriba su nombre: ')
print('Hola', name.title())

Escriba su nombre: yo
Hola Yo

In [97]:
numero = int(input('Escriba un numero: '))
numero += 20
print(numero)

Escriba un numero: 3
23

In [98]:
numero = float(input('Escriba un numero: '))
numero += 20
print(numero)

Escriba un numero: 2
22.0

In [100]:
numero = int(input('Escriba un numero: '))
print('Hola' * numero)

Escriba un numero: 4
HolaHolaHolaHola

In [103]:
x = eval(input('Escriba una expresion: '))
print(x)

Escriba una expresion: 1+1
2

In [102]:
numero = 20
x = eval('numero + 10')
print(x)

30

In [104]:
try:
    x = int(input('Escriba un numero: '))
except:
    print('Eso no es un numero')

Escriba un numero: 1

In [105]:
try:
    x = int(input('Escriba un numero: '))
except:
    print('Eso no es un numero')

Escriba un numero: aaa
Eso no es un numero

In [109]:
try:
    x = int(input('Escriba un numero: '))
except:
    print('Eso no es un numero')
finally:
    print('Esto se escribe porque esta en el finallly')

Escriba un numero: efafffadfae
Eso no es un numero
Esto se escribe porque esta en el finallly

In [110]:
try:
    x = int(input('Escriba un numero: '))
    print('Han cantado el ' + str(x))
except:
    print('Eso no es un numero')
finally:
    print('Esto se escribe porque esta en el finallly')

Escriba un numero: 3
Han cantado el 3
Esto se escribe porque esta en el finallly

In [111]:
try:
    x = int(input('Escriba un numero: '))
    print('Han cantado el ' + str(x))
except ValueError:
    print('Eso no es un numero')
except KeyboardInterrupt:
    print('Hay errores en tu respuesta')
finally:
    print('Esto se escribe porque esta en el finallly')

Escriba un numero:
Eso no es un numero
Esto se escribe porque esta en el finallly

f = open('txtpruebas.txt', ‘r’)
file_data = f.read()
f.close()
print(file_data)


f = open('txtpruebas.txt', 'w')
f.write('asi, sobre escribe todo lo que hubiese')
f.close()

f2 = open('txtpruebas.txt', 'r')
file_data2 = f2.read()
f2.close()
print(file_data2)

f = open('txtpruebas.txt', 'a')
f.write('asi, añade a lo que habia')
f.close()

f2 = open('txtpruebas.txt', 'r')
file_data2 = f2.read()
f2.close()
print(file_data2)


ABRIR Y CERRAR EN UNO:
with open('txtpruebas.txt', 'r') as f:
    file_data = f.read()

print(file_data)

In [112]:
from datetime import datetime
import pytz

utc = pytz.utc
ist = pytz.timezone('Europe/Madrid')

now = datetime.now(tz=utc)
ist_now = now.astimezone(ist)

print(now)
print(ist_now)

2023-03-08 21:01:22.660839+00:00
2023-03-08 22:01:22.660839+01:00

In [124]:
u = [1,0]
v = [0,1]
z = []

for n,m in zip(u,v):
    z.append(n+m)
print(z)

[1, 1]